<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">


<head th:replace="/fragments/headDefault.html :: head">
</head>

<body>

	<nav th:replace="/fragments/navbar.html :: nav"></nav>

	<div class="container">

		<!-- <div sec:authorize="hasRole('ROLE_REGISTERED_USER')">   -->

		<form th:action="@{/auth/register/}" method="POST" th:if="${#strings.equals(state, 'register') }">

			<img src="..." class="img-thumbnail" alt="...">

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Nombre</span>
				<input type="text" name="name" class="form-control" placeholder="Username" aria-label="Username"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Email</span>
				<input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">DNI</span>
				<input type="number" name="dni" class="form-control" placeholder="DNI" aria-label="Username"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Teléfono</span>
				<input type="number" name="phone" class="form-control" placeholder="Teléfono" aria-label="Username"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Contraseña</span>
				<input type="text" name="password" class="form-control" placeholder="Contraseña" aria-label="Username"
					aria-describedby="basic-addon1">
			</div>


			<button type="submit" class="btn btn-primary btn-lg">Registrar</button>


		</form>


		<form th:action="@{/auth/update/} + ${id}" method="POST" th:if="${#strings.equals(state, 'update') }">

			<img src="..." class="img-thumbnail" alt="...">

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Nombre</span>
				<input th:value="${myUser.name}" type="text" name="name" class="form-control" placeholder="Username"
					aria-label="Username" aria-describedby="basic-addon1">
			</div>

			<input th:value="${myUser.id}" type="hidden" name="id" class="form-control" placeholder="Username"
				aria-label="Username" aria-describedby="basic-addon1">

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Email</span>
				<input th:value="${myUser.email}" type="email" name="email" class="form-control" placeholder="Email"
					aria-label="Username" aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">DNI</span>
				<input th:value="${myUser.dni}" type="number" name="dni" class="form-control" placeholder="DNI"
					aria-label="Username" aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Teléfono</span>
				<input th:value="${myUser.phone}" type="number" name="phone" class="form-control" placeholder="Teléfono"
					aria-label="Username" aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Fecha de nacimiento</span>
				<input th:value="${myUser.birthDate}" type="date" name="birthDay" class="form-control"
					placeholder="birthDate" aria-label="Username" aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Contraseña</span>
				<input th:value="${myUser.password}" type="password" name="password" class="form-control"
					placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Contraseña</span>
				<input th:value="${myUser.password}" type="password" name="password" class="form-control"
					placeholder="Vuelva a ingresar la contraseña" aria-label="Username" aria-describedby="basic-addon1">
			</div>


			<button type="submit" class="btn btn-primary btn-lg">Registrar</button>


		</form>


		<form th:action="@{/auth/logincheck}" method="POST" th:if="${#strings.equals(state, 'login') }"
			style="min-height: 50vh;" class="d-flex flex-column pt-5">
			<p th:if="${session.usersession != null}" th:text="${session.usersession.id}"> </p>
			<!-- <p th:if="${session.usersession != null}" th:text="${session.usersession.id}" >  </p> -->
			<!-- TODO Add our logo -->
			<!-- <img class="mb-4" src="" alt="" width="72" height="57" /> -->

			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" name="email" />
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" name="password" />
			</div>

			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
				Sign in
			</button>

		</form>

	</div>

	</div>


	<div th:replace="/fragments/footerDefault.html :: div"></div>

</body>

</html>