<div class="container-fluid bg-dark">
	<footer>
		<div class="d-flex justify-content-between border-bottom  text-white">
			<ul class="nav justify-content-center pb-3">								
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
			</ul>
			<div>
				<a href="#"><img src="/img/Facebook.png" style="height: 30px; background: white; border-radius: 50%;"></a >
				<a href="#"><img src="/img/Instagram.png" style="height: 30px;  background: white; border-radius: 50%;"></a >
				<a href="#"><img src="/img/Twitter.png" style="height: 30px;  background: white; border-radius: 50%;"></a >
			</div>
		</div>

		<p class="text-center text-muted" style="margin: 0;">&copy; 2022 CinquePC S.A.</p>
	</footer>
</div>