<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/headDefault.html :: head">

</head >

<body>


	<nav th:replace="/fragments/navbar.html :: nav">
	</nav >

	<main>

		


		<!-- Marketing messaging and featurettes
  ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing pt-5">

			<!-- Three columns of text below the carousel -->
			<div class="row">
				<div class="col-lg-4">
					<img src="/img/PCGamer.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
						<title>Placeholder</title>
						
					</svg>

					<h2>Gaming</h2>
					<p >Tenemos componentes y computadoras de ultimo modelo para que puedas jugar sin bajones de fps y con gran calidad gráfica.</p >
					<p><a class="btn btn-secondary" href="#">Ir a sección Gaming</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">					
						<img src="/img/PCOficina.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
						<title>Placeholder</title>
						
					</svg>

					<h2>Oficina</h2>
					<p>Las mejores computadoras y notebooks para trabajar. Teclados y mouses ergonómicos para tu comodidad.</p>
					<p><a class="btn btn-secondary" href="#">Ir a sección Oficina</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img src="/img/PCestudio.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
						<title>Placeholder</title>
						
					</svg>

					<h2>Estudio</h2>
					<p>Las mejores y más livianas notebooks para poder llevarlas en tu mochila sin que representen un gran peso, y no por ello, teniendo menor calidad.</p>
					<p><a class="btn btn-secondary" href="#">Ir a sección Estudio</a></p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->


			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7 d-flex align-items-center">
				<div>
					<h2 class="featurette-heading">Todos los componentes que quieras comprar o vender</h2>
					<p class="lead">Te permitimos comprar y vender de forma rápida y segura los componentes de ultima generación que tengamos en nuestra plataforma.</p>
				</div>
					
				</div>
				<div class="col-md-5">					
						<img src="/img/Componentes.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
						height="500">
						<title>Placeholder</title>
						
					</svg>

				</div>
			</div>

			<hr class="featurette-divider">


			<!-- /END THE FEATURETTES -->

		</div><!-- /.container -->


		<div th:replace="/fragments/footerDefault.html :: div"></div >

</body>

</html>