<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/webLayout">
<head>
<meta charset="utf-8">
<title>Index</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container" style="margin: 100px auto  100px  auto; ">
			<div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
				<strong th:text="${success}"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
				<strong th:text="${error}"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<form th:action="@{/auth/register}" method="post" enctype="multipart/form-data" class="flexbox">
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" th:field="${user.name}" name="name" />
				</div>
				<div class="mb-3">
					<label for="Password" class="form-label">Password</label>
					<input type="password" class="form-control" name="password1" />
				</div>

				<div class="mb-3">
					<label for="Password" class="form-label">Password</label>
					<input type="password" class="form-control" name="password2" />
				</div>

				<div class="mb-3">
					<label for="Email" class="form-label">Email address</label>
					<input type="email" class="form-control" aria-describedby="emailHelp" name="email" />
				</div>
				<div class="mb-3">
					<label for="dni" class="form-label">DNI</label>
					<input type="text" class="form-control" name="dni" />
				</div>
				<div class="mb-3">
					<label for="phone" class="form-label">Phone</label>
					<input type="text" class="form-control" name="phone" />
				</div>

				<div class="mb-3">
					<label for="birthday" class="form-label">Fecha de nacimiento</label>
					<input type="date" class="form-control" name="birthday" />
				</div>

				<div class="mb-3">
					<label for="photo" class="form-label">Foto</label>
					<input type="file" class="form-control" name="photo">
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1" />
					<label class="form-check-label" for="exampleCheck1">Chek me out</label>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

</body>
</html>
