<!doctype html>
<html lang="en">

<head th:replace="/fragments/headDefault.html :: head">

</head>

<body>

	<nav th:replace="/fragments/navbar.html :: nav"></nav>

	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="/img/gamingKeyboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
					width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Sé parte de los vendedores de CinquePC</h1>
				<p class="lead">Te invitamos a unirte a nuestra comunidad de compra y venta de componentes informáticos.
				</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a th:href="@{/product/form}" class="btn btn-primary btn-lg px-4 me-md-2">Vender productos</a>
				</div>
			</div>
		</div>
	</div>

	<main>


		<!-- Shopping Cart -->
		<section class="text-center container">
			<div>
				<div class="col-lg-6 col-md-8 mx-auto">

					<div th:if="${session.usersession != null}" class="modal fade" id="shoppingCart" tabindex="-1"
						aria-labelledby="shoppingCartLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="shoppingCartLabel">Productos en el carrito</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div th:if="${shoppingCart != null}" class="col"
										th:each="singleBuy : ${shoppingCart}">
										<!-- inicio tarjeta -->
										<div class="card shadow-sm">
											<div style="height: 30vh;">
												<img th:if="${singleBuy.product.photo != null}"
													th:src="${'/photo/product?id=' + singleBuy.product.id}"
													style="max-width: 100%; max-height: 100%;">
											</div>

											<div class="card-body">
												<div class="d-flex justify-content-between align-items-center">
												</div>
												<p>
													Product: <span th:text="${singleBuy.product.name}"></span><br />
													Quantity: <span th:text="${singleBuy.quantity}"></span><br />
													Individual price: <span
														th:text="${singleBuy.product.price}"></span><br />
												</p>
											</div>
										</div>
									</div>
								</div>
								<div>
									<p>Precio total: $<span th:if="${compraTotal != null}"
											th:text="${compraTotal}"></span></p>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<a th:href="@{/sb/buyAllShoppingCart}" class="btn btn-primary">Comprar todo</a>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
			</div>
			</div>
		</section>
		<!-- Shopping Cart -->

		<!-- Products -->
		<div class="album py-5 bg-light" style="min-height: 80vh;">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<!-- Producto individual -->
					<div class="col" th:each="product : ${products}">
						<!-- inicio tarjeta -->
						<div class="card shadow-sm">

							<div style="height: 30vh;">
								<img th:if="${product.photo != null}" th:src="${'/photo/product?id=' + product.id}"
									style="max-width: 100%; max-height: 100%;">
							</div>

							<div class="card-body">
								<p class="card-text" th:text="${product.name}"></p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">

										<!-- Add to WishList button -->
										<div th:if="${session.usersession != null}">
											<a th:if="${! #lists.contains(wishList, product)}"
												th:href="@{/product/addToWishList/}+${product.id}"
												class="btn btn-sm btn-outline-secondary">
												<img src="/img/like_border_black.png" style="height: 30px;">
											</a>
										</div>

										<!-- Add to WishList button -->

										<div th:if="${session.usersession != null}">
											<a th:if="${#lists.contains(wishList, product)}"
												th:href="@{/product/removeFromWishList/}+${product.id}"
												class="btn btn-sm btn-outline-danger">
												<img src="/img/like_red.png" style="height: 30px;">
											</a>
										</div>
										<!-- Add to ShoppingCart button -->

										<!-- Add to ShoppingCart button -->
										<!-- Modal de SingleBuy -->
										<div th:if="${session.usersession != null}">
											<button type="button" class="btn btn-primary" data-bs-toggle="modal"
												th:data-bs-target="${'#id'+ product.id }">
												<img src="/img/shopping-cart.png" style="height: 30px;">
											</button>
										</div>

										<!-- Modal de SingleBuy -->


										<!-- Modal -->
										<div th:if="${session.usersession != null}" class="modal fade" th:id="${'id' + product.id}" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">How many <span
																th:text="${product.name}"></span> do you want?</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<form th:action="@{/sb/create}" method="POST">
															<label for"quantity"> Select a quantity:</label>
															<input type="hidden" name="idUser"
																th:value="${session.usersession.id}">
															<input type="hidden" name="idProduct"
																th:value="${product.id}">
															<input type="number" name="quantity" id="quantity">
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Close</button>
																<input type="submit" class="btn btn-primary"
																	value="Añadir al carrito">
															</div>
														</form>
													</div>

												</div>
											</div>
										</div>




										<small th:if="${product.stock > 1}" class="text-muted"> Quedan <span
												th:text="${product.stock}">
											</span> unidades </small>
										<small th:if="${product.stock == 1}" class="text-muted"> Queda <span
												th:text="${product.stock}">
											</span> unidad </small>
										<small th:if="${product.stock == 0}" class="text-muted"> No quedan unidades
										</small>
										<small class="text-muted"> $ <span th:text="${product.price}"> </span> </small>


										<!-- Modal para poner cantidad -->
										<div class="modal fade" id="modal" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														...
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Close</button>
														<button type="button" class="btn btn-primary">Save
															changes</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Modal para poner cantidad -->

									</div>
								</div>
							</div>
							<!-- Modal de SingleBuy -->


						</div>



					</div>
					<!-- Producto individual -->
				</div>
			</div>
		</div>
		<!--fin de tarjeta-->
		<!-- Products -->
		</div>

	</main>

	<div th:replace="/fragments/footerDefault.html :: div"></div>


</body>

</html>